@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&display=swap");

@import 'tailwindcss';

/* =========================
   BASE
========================= */
html,
body {
  font-family: "Mona Sans", system-ui, sans-serif;
  background-color: white;
}

main {
  min-height: 100vh;
  padding-top: 2.5rem;
}

h1 {
  @apply text-6xl font-semibold leading-tight text-transparent bg-clip-text bg-gradient-to-r from-[#AB8C95] via-black to-[#8E97C5];
}

h2 {
  @apply text-3xl text-gray-600;
}

input,
textarea {
  @apply w-full p-4 rounded-2xl bg-white outline-none shadow-inner;
}

/* =========================
   COMPONENTS
========================= */
@layer components {
  .gradient-border {
    @apply p-4 rounded-2xl bg-gradient-to-b from-blue-100/10 to-blue-200/30;
  }

  .primary-button {
    @apply w-full rounded-full py-3 px-6 text-white font-semibold cursor-pointer
    bg-gradient-to-b from-indigo-400 to-indigo-600
    hover:from-indigo-500 hover:to-indigo-700 transition;
  }

  .auth-button {
    @apply w-full max-w-[600px] rounded-full py-4 px-8
    text-3xl font-semibold text-white cursor-pointer
    bg-gradient-to-b from-indigo-400 to-indigo-600
    hover:from-indigo-500 hover:to-indigo-700 transition;
  }

  .navbar {
    @apply flex justify-between items-center bg-white rounded-full p-4 px-10 max-w-[1200px] mx-auto;
  }

  .page-heading {
    @apply flex flex-col items-center gap-6 max-w-4xl text-center;
  }

  .main-section {
    @apply flex flex-col items-center gap-8 pt-12 pb-6;
  }

  .resume-card {
    @apply bg-white rounded-2xl p-4 w-[420px] h-[560px] flex flex-col gap-6;
  }

  .resume-card-header {
    @apply flex justify-between items-start;
  }

  .uploader-selected-file {
    @apply flex items-center justify-between p-3 bg-gray-50 rounded-2xl;
  }
}
